<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="../../assets/user.png"
      class="profile-img-card"
    />
    <form (ngSubmit)=" !form.invalid"
      *ngIf="!isLoggedIn && !isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          minlength="10"
          maxlength="30"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="email.errors && f.submitted && email.errors && (email.touched || email.dirty)"
        >
        <div *ngIf="email.errors['required']"> Email is required!</div>
        <div *ngIf="email.errors['email']"> Email is Not valid!</div>
        <div *ngIf="email.errors['minlength']">
          email must be at least 10 characters
        </div>
        <div *ngIf="email.errors['maxlength']">
          email must be at least 30 characters
        </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          maxlength="12"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted && password.errors && (password.touched || password.dirty)"
        >
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
          <div *ngIf="password.errors['maxlength']">
            Password must be only 12 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Login
        </button>
      </div>
      </form>
</div>
